body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2em; /* Angepasst für bessere Sichtbarkeit */
    margin: 1em -1;
}

#video, #canvas {
    width: 100%; /* Dynamische Breitenanpassung */
    max-width: 320px;
    height: auto; /* Höhe wird dynamisch angepasst */
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 20px Abstand am unteren Rand hinzufügen */
}


.button-container {
    display: flex;
    flex-wrap: wrap; /* Erlaubt das Umbrechen der Buttons, wenn nicht genug Platz vorhanden ist */
    justify-content: center;
    gap: 20px; /* Abstand zwischen den Buttons */
    width: 100%; /* Sicherstellen, dass der Container genug Platz einnimmt */
    max-width: 600px; /* An die Breite des 'main' Containers anpassen */
    padding: 0 20px; /* Padding hinzufügen, um nicht direkt am Rand zu kleben */
}

button {
    cursor: pointer;
    background-color: transparent; 
    border: none;
    position: relative;
}

button img {
    height: 50px;
    width: 50px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

button:focus .tooltip-text,
button:active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

textarea {
    width: 100%;
    max-width: 320px;
    height: 120px; /* Höhe so anpassen, dass sie 4 Zeilen Text zeigt */
    border-radius: 8px;
    padding: 12px; /* Passendes Padding für Texteingabe */
    resize: none; /* Benutzer können die Größe nicht verändern */
    margin-top: 20px; /* Abstand von dem darüberliegenden Element */
    font-size: 16px; /* Schriftgröße für bessere Lesbarkeit anpassen */
    line-height: 1.5; /* Zeilenhöhe für bessere Lesbarkeit */
}


#operatingSystem {
    margin-top: 10px;
}

#barcodeResult {
    margin-top: 10px;
}

#locationDisplay {
    margin-top: 10px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border-top: 2px solid #333;
}

.blink-green {
    animation: blink-green 1s steps(1) infinite alternate;
}

@keyframes blink-green {
    0% {
        border-color: #333;
    }
    100% {
        border-color: green;
    }
}

@media only screen and (max-width: 600px) {
    .button-container {
        flex-direction: row; /* Horizontal ausrichten bei kleinen Bildschirmen */
        justify-content: space-around; /* Buttons gleichmäßig verteilen */
        gap: 10px; /* Kleinerer Abstand bei kleineren Bildschirmen */
    }

    button img {
        height: 40px; /* Kleinere Bilder auf kleineren Bildschirmen */
        width: 40px;
    }
}
