body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    width: 100%; /* Sicherstellen, dass der Header die volle Breiten einnimmt */
    background-color: #e0e0e0; /* Ein leichter Grauton, um ihn vom Rest der Seite abzuheben */
    text-align: center; /* Zentriert den Text im Header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtiler Schatten für eine Tiefenwirkung */
    border-bottom: 1px solid #ccc; /* Feine Linie zur optischen Trennung */
    padding: 20px 10px; /* Vertikales und horizontales Padding */
    margin-top: 0;
    margin-bottom: 10px; /* Bietet etwas Raum nach unten */
}

h1 {
    font-size: 24px; /* Erhöht für bessere Lesbarkeit */
    margin-top: 0; /* Entfernt den oberen Abstand, da dieser vom Header übernommen wird */
    margin-bottom: 0; /* Kein unterer Abstand, glatte Übergänge innerhalb des Headers */
}

#video, #canvas, #photo {
    width: 480px; /* Eher horizontales Format */
    height: 270px;
    border: 2px solid #333;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.zoom-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
}

button img {
    height: 50px;
    width: 50px;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

button:focus .tooltip-text,
button:active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#switchButton {
    margin-top: 10px; /* Abstand nach oben hinzufügen */
    display: block; /* Sicherstellen, dass der Button angezeigt wird */
    position: absolute; /* Position absolut setzen */
    top: 50%; /* Abstand nach oben zum Kamerabereich */
    right: 50%; /* Abstand zum rechten Rand */
    transform: translate(50%, -50%); /* Horizontal und vertikal zentrieren */
}

textarea {
    margin-top: 20px;
    width: 90%;
    max-width: 320px;
    min-height: 76px; /* Höhe angepasst für 4 Zeilen */
    border-radius: 8px;
    padding: 12px;
    resize: none;
}

#operatingSystem, #barcodeResult, #locationDisplay {
    margin-top: 10px;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid #333;
}

.blink-green {
    animation: blink-green 1s steps(1) infinite alternate;
}

@keyframes blink-green {
    0% { border-color: #333; }
    100% { border-color: green; }
}

@media only screen and (max-width: 600px) {
    header {
        font-size: 16px; /* Etwas kleinere Schriftgröße für kleine Bildschirme */
        padding: 15px 5px; /* Weniger Padding auf kleinen Bildschirmen */
    }
    
    h1 {
        font-size: 20px; /* Kleinere Schriftgröße, angepasst an den kleineren Header */
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    #video, #canvas, #photo {
        width: 90%; /* Volle Breite nutzen, aber mit etwas Abstand zu den Rändern */
        height: auto; /* Höhe passt sich dynamisch an */
    }

    .zoom-button-container, .button-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    button img {
        height: 40px; /* Kleinere Icons in den Buttons */
        width: 40px;
    }

    textarea {
        max-width: none; /* Entfernt die maximale Breite, um die volle Breite zu nutzen */
        height: 120px; /* Höhe erhöhen für bessere Lesbarkeit */
    }

    footer {
        padding: 10px 20px; /* Weniger Padding, um Platz zu sparen */
    }
}
